/.vs
/MailServices/obj
/MailServices/bin
/MailServices/MailServices.csproj.user
/MailWeb/obj
/MailWeb/bin
/MailManager/obj
/MailManager/bin
/MailManager/MailManager.csproj.user
/unit-tests/ModulesTests/obj
/unit-tests/ModulesTests/bin
/libs/MailModule/obj
/libs/MailModule/bin
/libs/LanguageModule/obj
/libs/LanguageModule/bin
/examples/CmsModulesShared/obj
/examples/CmsModulesShared/bin
/examples/CmsModulesManagement/obj
/examples/CmsModulesManagement/bin
