/.vs
/MailServices/obj
/MailServices/bin
/MailServices/MailServices.csproj.user
/MailWeb/obj
/MailWeb/bin
/MailManager/obj
/MailManager/bin
/MailManager/MailManager.csproj.user
/unit-tests/ModulesTests/obj
/unit-tests/ModulesTests/bin
/libs/MailModule/obj
/libs/MailModule/bin
/libs/LanguageModule/obj
/libs/LanguageModule/bin
/examples/CmsModulesShared/obj
/examples/CmsModulesShared/bin
/examples/CmsModulesManagement/obj
/examples/CmsModulesManagement/bin
/.vs
/MailServices/obj
/MailServices/bin
/MailServices/MailServices.csproj.user
/MailWeb/obj
/MailWeb/bin
/MailManager/obj
/MailManager/bin
/MailManager/MailManager.csproj.user
/packages
/AspNetCoreWeb/bin
/AspNetCoreWeb/obj
/AspNetWebShared/obj
/AspNetWebShared/bin
/NetCoreTest/obj
/NetCoreTest/bin
/AspNetCoreWeb/MailWeb.csproj.user
/examples/CmsModuleManagement/obj
/examples/CmsModuleManagement/bin
/unit-tests/ModulesTests/obj
/unit-tests/ModulesTests/bin
/examples/CmsModuleShared/obj
/examples/CmsModuleShared/bin
/libs/MailModule/obj
/libs/MailModule/bin
/libs/CorsModule/obj
/libs/CorsModule/bin
/libs/DataMagic/DataMagic.Abstractions/obj
/libs/DataMagic/DataMagic.Abstractions/bin
/libs/DataMagic/DataMagic.EntityFrameworkCore/obj
/libs/DataMagic/DataMagic.EntityFrameworkCore/bin
